body{
    font-family: Arial, Helvetica, sans-serif;
}
#top-head{
    padding: 2em;
    background: #1f2324;
}
#top-nav{
    display: table;
    width: 1170px;
    margin: 0px auto;
}
h1{
    float: left;
    font-size: 3em;
    color: white;
}
#top-nav>ul{
    float: right;
}
#top-nav>ul>li{
    float: left;
    padding: 1em;
}
#top-nav>ul>li>a, .fa-search{
    color: #747a7c;
}
a{
    text-decoration: none;
}
#bot-nav>ul{
    padding: 1em;
}
#bot-nav{
    text-align: center;
    background: #f73a4c;
}
#bot-nav>ul>li{
    display: inline-block;
    padding: 1em 1.5em;
    border-radius: 500px;
}
#bot-nav>ul>li>a{
    color: white;
    font-weight: bold;
    display: inline-block;
    width: 100%;
    height: 100%;
}
#bot-nav>ul>li>a:hover, #bot-nav>ul>li:hover{
    background: white;
    color: black;
}
.head-image>img{
    width: 100%;
}
#header-carousel{
    width: 60%;
    margin: -15% auto -6.8% auto;
}
audio{
    position: fixed;
}
#under-header{
    height: 500px;
    width: 100%;
    background: #1f2324;
    position: relative;
}
@keyframes flow-up {
    from{bottom: 0px;}
    to{bottom: 2.1em}
}
@keyframes flow-down {
    from{bottom: 2.1em}
    to{bottom: 0px;}
}
#header-carousel>img{
    width: 32%;
    position: relative;
    height: 100%;
    margin: -3px;
}
#wall-description{
    position: absolute;
    color: white;
    font-size: 2em;
}
.btn{
    border-radius: 500px;
    display: inline-block;
    border: 1px solid #f73a4c;
    background: #f73a4c;
    box-shadow: inset #747a7c;
    color: white;
    font-size: 50%;
    width: 9em;
    padding: 1.5em 2em;
    text-align: center;
}
.btn:hover{
    border: 1px solid white;
    background: transparent;
}
label{
    color: white;
    font-size: 1.5em;
}
#under-header>p{
    color: white;
}
[type=checkbox]{
    border-radius: 10px;
    border: 1px solid gray;
    width: 1.5em;
}

